@model ShoppingListWrapper
@{
    ViewData["Title"] = "Index";
}

@section Css{
    <link href="~/outertools/vendors/swiper/swiper-bundle.min.css" rel="stylesheet" />
}

@if (TempData["fail"] != null)
{
    <div class="col-6 offset-3">
        <partial name="_AlertWarningPartial" model="@(TempData["fail"]!.ToString())"></partial>
    </div>
}

@if (TempData["success"] != null)
{
    <div class="col-6 offset-3">
        <partial name="_AlertSuccessPartial" model="@(TempData["success"]!.ToString())"></partial>
    </div>
}
<div class="text-center">
    <div class="row">
        <div class="col-lg-12 mb-0">
            <div class="swiper-container theme-slider" data-swiper='{"autoplay":true,"spaceBetween":5,"loop":true,"loopedSlides":5,"slideToClickedSlide":true}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a asp-controller="Shopping" asp-action="Index" asp-route-categoryID="4"><img class="rounded-1 img-fluid" src="~/carouselPictures/kampanya.jpg" alt="" /></a></div>
                    <div class="swiper-slide"><a asp-controller="Shopping" asp-action="Index" asp-route-categoryID="3"><img class="rounded-1 img-fluid" src="~/carouselPictures/callof.jpg" alt="" /></a></div>
                    <div class="swiper-slide"><a asp-controller="Shopping" asp-action="Index" asp-route-categoryID="1"><img class="rounded-1 img-fluid" src="~/carouselPictures/islemci.jpg" alt="" /></a></div>
                    <div class="swiper-slide"><a asp-controller="Shopping" asp-action="Index" asp-route-categoryID="3"><img class="rounded-1 img-fluid" src="~/carouselPictures/anakart.jpg" alt="" /></a></div>
                </div>
                <div class="swiper-nav">
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"> </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-body">
            <div class="mx-auto">
                <div class="list-group list-group-horizontal-sm">
                    @foreach (CategoryViewModel item in Model.Categories!)
                    {
                        <a class="list-group-item list-group-item-action @(item.Id == ViewBag.CategoryID ? "active" : "") d-flex align-items-center justify-content-center" asp-controller="Shopping" asp-action="Index" asp-route-categoryID="@item.Id">@item.Name</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card mb-3">
    <div class="card-body">
        <div class="row">

            <div class="align-items-center row mb-4 text-center">

                <div class="col-md-2 mb-3 mb-md-0">@ViewBag.totalItemsCount ürün bulundu</div>
                @{
                    string sort = ViewBag.selectedSort;
                }
                <div class="col-md-5">
                    <select class="form-select" id="productSort">
                        @if (sort == "eyu")
                        {
                            <option value="eyu" selected>En Yeni Ürünler</option>
                        }
                        else
                        {
                            <option value="eyu">En Yeni Ürünler</option>
                        }
                        @if (sort == "edf")
                        {
                            <option value="edf" selected>En Düşük Fiyat</option>
                        }
                        else
                        {
                            <option value="edf">En Düşük Fiyat</option>
                        }
                        @if (sort == "eyf")
                        {
                            <option value="eyf" selected>En Yüksek Fiyat</option>
                        }
                        else
                        {
                            <option value="eyf">En Yüksek Fiyat</option>
                        }
                        @if (sort == "aaz")
                        {
                            <option value="aaz" selected>Ürün Adına Göre A > Z</option>
                        }
                        else
                        {
                            <option value="aaz">Ürün Adına Göre A > Z</option>
                        }
                        @if (sort == "aza")
                        {
                            <option value="aza" selected>Ürün Adına Göre Z > A</option>
                        }
                        else
                        {
                            <option value="aza">Ürün Adına Göre Z > A</option>
                        }
                       
                    </select>
                </div>

                <div class="col-md-5 mt-3 mt-md-0">
                    <form method="get" asp-route-categoryID="null">
                        <input type="search" class="form-control rounded-pill" placeholder="Ürünlerde ara" name="search" id="search" value="@(ViewBag.search ?? "")" />
                    </form>
                </div>
            </div>


            @foreach (ProductViewModel item in Model.Products!)
            {
                <div class="mb-4 col-md-6 col-lg-4">
                    <div class="border rounded-1 h-100 d-flex flex-column justify-content-between pb-3">
                        <div class="overflow-hidden">
                            <div class="position-relative rounded-top overflow-hidden d-flex align-items-center justify-content-center">
                                <a class="d-block" asp-controller="Shopping" asp-action="ProductDetail" asp-route-id="@item.Id"><img class="img-fluid rounded-top" src="~/productPictures/@(item.ImagePath??"no-image-icon.png")" alt="Resim Yüklenemedi" style="max-width:300px; max-height:300px;" /></a>
                            </div>
                            <div class="p-3">
                                <h5 class="fs-0"><a class="text-dark" asp-controller="Shopping" asp-action="ProductDetail" asp-route-id="@item.Id">@item.Name</a></h5>
                                <p class="fs--1 mb-3"><a class="text-500" asp-controller="Shopping" asp-action="ShoppingList" asp-route-categoryID="@item.CategoryID">@item.Category!.Name</a></p>
                                <h5 class="fs-md-2 text-warning mb-0 d-flex align-items-center mb-3">
                                    @item.Price.ToString("C2")
                                </h5>
                                <p class="fs--1 mb-1">
                                    Stok: @if (item.Stock > 19)
                                    {
                                        <strong class="text-success">Var</strong>
                                    }
                                    else if (item.Stock > 0)
                                    {
                                        <strong class="text-warning">Acele et tükeniyor</strong>
                                    }
                                    else
                                    {
                                        <strong class="text-danger">Tükendi</strong>
                                    }

                                </p>
                            </div>
                        </div>
                        <div class="mx-auto px-3">
                            <div class="mt-2"><a class="btn btn-sm btn-primary d-lg-block mt-lg-2" href="@Url.Action("ProductDetail", "Shopping", new{id=item.Id}, Context.Request.Scheme)"><span class="fas far fa-eye"> </span><span class="ms-2 d-none d-md-inline-block">Ürünü İncele</span></a></div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
    <div class="card-footer bg-light d-flex justify-content-center">
        <div>
            <nav class="d-flex justify-content-center mt-3">
                <ul class="pagination">
                    @for (int page = 1; page <= ViewBag.totalPagesCount; page++)
                    {
                        <li class="page-item @(page == ViewBag.pageNumber ? "active" : "")">
                            <a class="page-link" asp-controller="Shopping" asp-action="Index" asp-route-categoryID="@(ViewBag.CategoryID??"null")" asp-route-search="null" asp-route-selectSort="@(ViewBag.selectedSort??"null")" asp-route-pageNumber="@(page)">@(page)</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/OuterTools/vendors/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>

        $(document).ready(function () {

            $("#productSort").change(function () {
                let selectedSort = $(this).val();
                let search = '@(ViewBag.search ?? "")';//Js'de c# kodunun düzgün çalışması için '' içine eklendi
                let searchInput = $("#search").val();
                let url;

                if (search != "" && searchInput != "") {
                    url = "/Shopping/Index?categoryID=" + @(ViewBag.CategoryID ?? "null") + "&selectSort=" + selectedSort + "&search=" + search;
                }
                else {
                    url = "/Shopping/Index?categoryID=" + @(ViewBag.CategoryID ?? "null") + "&selectSort=" + selectedSort;
                }
                window.location.href = url;
            });
        });

    </script>

}